<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
      <link rel="stylesheet" media="print" href="/static/css/print.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    {% endassets %}
    
    {% block header %}
    {% endblock %}

    <title>
      {% block title %}
      {% endblock %}| Personal
    </title>

  </head>
  <body>
    {% include "navbar.html" %}

    <!-- flash message -->
    <div>
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class="notification is-{{category}}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <div class="container is-fullhd p-0">
      {% block content %}{% endblock %}
    </div>
    
    {% include "_footer.html" %}
  </body>
</html>
