<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
      <link rel="stylesheet" media="print" href="/static/css/print.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    {% endassets %}
    
    {% block header %}
    {% endblock %}

    <title>
      {% block title %}
      {% endblock %}| Personal
    </title>

  </head>
  <body>
    {% include "navbar.html" %}
    <div class="">
      <!-- flash message -->
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          <ul class="flashes mt-1" style="list-style: none">
          {% for category,message in messages %}
          <div class="alert alert-{{category}}" role="alert" >
            <li>{{ message }}</li>
          </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    <div class="container is-fullhd p-0">
      {% block content %}{% endblock %}
    </div>
    <footer>
      Made with &hearts; at <a target="_blank" href="https://www.nextacademy.com/?utm_source=github&utm_medium=student-challenge&utm_campaign=flask-nextagram">NEXT Academy</a>
    </footer>
    <script>
      let timer = document.getElementById("timer")
      let today = new Date()
       
    </script>
  </body>
</html>
