<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <div></div>
    </ul>
    <ul class="navbar-nav">
      <div id="timer">Today is {{ today }} !</div>
    </ul>
    <ul class="navbar-nav">
      {% if current_user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="reminderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reminder
        </a>
        <div class="dropdown-menu" aria-labelledby="reminderDropdown">
          <a class="nav-link dropdown-item" href="{{url_for('reminders.new')}}">Add</a>
          <a class="nav-link dropdown-item" href="{{url_for('reminders.show',group='all')}}">List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="expensesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Expenses
        </a>
        <div class="dropdown-menu" aria-labelledby="expensesDropdown">
          <a class="nav-link dropdown-item" href="{{url_for('expenses.new')}}">Add</a>
          <a class="nav-link dropdown-item" href="{{url_for('expenses.category',category='all')}}">List</a>
          <a class="nav-link dropdown-item" href="{{url_for('expenses.summary_list')}}">Summary</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="profileDropdown">
          <a class="nav-link dropdown-item" href="{{url_for('statements.index')}}">Statement</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('sessions.logout')}}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('sessions.new')}}">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('users.new')}}">Sign Up</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>