{% extends "_layout.html" %}
{% block title %}
  Monthly Statement
{% endblock %}
{% block content %}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Your Monthly Statements </h1>
      <h3 class="subtitle">Number of Statements : {{ statements |length }}</h3>
    </div>
  </div>
</section>

<div class="container my-5">
  {% for s in statements %}
    <a class="panel-block" href="{{s.exp_url}}" target="_blank">
      <span class="panel-icon has-text-link">
        <i class="fas fa-file-download"></i>
      </span>
      <span class="text-dark">{{s.month}}'s statement</span>
    </a>
  {% endfor %}
</div>

{% endblock %}
