{% extends "_layout.html" %}
{% block title %}
  Update Expense
{% endblock %}
{% block content %}
<div id="edit-expense">
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="subtitle">Update Expense</h1>
      </div>
    </div>
  </section>
  <div class="form-item card">
    <form action="{{url_for('expenses.update',id=expense.id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="field">
        <label class="label" for="category">Category</label>
        <select name='category' class="custom-select">
          {% for cat in categories %}
            <option value="{{cat.id}}" {{'selected' if expense.cat == cat }}>{{cat.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="field">
        <label class="label" for="source">Source</label>
        <select name='source' class="custom-select">
          <option {{'selected' if expense.source == "Cash" }} value="Cash">Cash</option>
          <option {{'selected' if expense.source == "Online" }} value="Online">Online Banking</option>
          <option {{'selected' if expense.source == "Bigpay" }} value="Bigpay">Bigpay</option>
          <option {{'selected' if expense.source == "Boost" }} value="Boost">Boost</option>
          <option {{'selected' if expense.source == "Grabpay" }} value="Grabpay">Grabpay</option>
          <option {{'selected' if expense.source == "TnG" }} value="TnG">Touch n Go</option>
        </select>
      </div>
      <div class="field">
        <label class="label" for="desc">Description</label>
        <input type='text' required name='desc' class="input" value={{expense.description}} />
      </div>
      <div class="field">
        <label class="label" for="amount">Amount</label>
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text">$</span>
            <input id="amount" name="amount" type="number" min="1" value={{expense.amount}} required placeholder="Amount" step="0.01">
          </div>
        </div>
      </div>
      <button type="submit" class="button is-fullwidth is-info">Update</button>
    </form>
  </div>
</div>
{% endblock %}

