{% extends "_layout.html" %}
{% block title %}
  Profile
{% endblock %}
{% block content %}
<!-- <h1>{{current_user.id}}</h1> -->
<a class="btn" href="{{url_for('expenses.category',category='all')}}">Show All</a>
<a class="btn" href="{{url_for('expenses.category',category='food')}}">Food</a>
<a class="btn" href="{{url_for('expenses.category',category='transport')}}">Transport</a>
<a class="btn" href="{{url_for('expenses.category',category='entertainment')}}">Entertainment</a>
<a class="btn" href="{{url_for('expenses.category',category='general')}}">General</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Category</th>
      <th scope="col">Source</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in expenses %}
    <tr>
      <td>{{expense.created_at.date().strftime("%b %d, %Y")}}</td>
      <td>{{expense.category}}</td>
      <td>{{expense.source}}</td>
      <td>{{expense.description}}</td>
      <td>RM {{expense.amount}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="mt-5 text-right">
    <h5>Total Expenses : RM <strong>{{ttl[0].total}}</strong></h5>
</div>
{% endblock %}
