<p class="subtitle text-primary has-text-centered">{{ today_date }}</p>
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Income</p>
      <p class="title text-warning">3,200</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Expenditure</p>
      <p class="title text-warning">{{ main_values['Total'][11] }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Balance</p>
      <p class="title text-warning">456K</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Likes</p>
      <p class="title text-warning">789</p>
    </div>
  </div>
</nav>