{% extends "_layout.html" %}
{% block title %}
  Sign Up
{% endblock %}
{% block content %}
  <div id="sign-up-page">
    <div class="form-item card">
      <h1 class="subtitle">Sign Up</h1>
      <form action="{{url_for('users.create')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="field">
          <div class="control has-icons-left">
            <input type='text' required name='username' placeholder="Username" class="input" />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input type='email' required name='email' placeholder="Email" class="input" />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input type='password' required name='password' placeholder="Password" class="input" />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <button type="submit" class="button is-success is-fullwidth">Sign Up</button>
        <p class="help">By tapping Sign Up, you agree to our Terms of Service and Privacy Policy.</p>
      </form>
    </div>
  </div>

{% endblock %}
